.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: #0a70d9;
    overflow: hidden;
    padding: 19.5px 42px;
    box-sizing: border-box;
    min-width: 84px;
    max-width: 480px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .button:hover {
    background-color: #005bb5;
  }
  
  .buttonTextWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .buttonText {
    font-size: 1rem;
    font-weight: bold;
    color: #f7fafc;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
  }
  